@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();

  &--secondary {
    background-color: #fa645a;
    box-shadow: 0 6px 0 2px #F43300;
    border: 0;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    width: 218px;
    white-space: normal;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
  }

  &--request {
    background-color: #f26522;
    box-shadow: 0 6px 0 2px #0044cc;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.14em;
    color: #fff;
    width: 250px;
    white-space: normal;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;

    &:hover, &:focus {
      color: #fff;
    }
  }

}

