@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();

  &--secondary {
    background-color: #fa645a;
    box-shadow: 0 8px 0 0 #F43300;
    border: 0;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    width: 218px;
    white-space: normal;
    font-weight: 400;
    padding: 19px 0;

    &:hover, &:focus, &:active {
      box-shadow: 0 8px 0 0 #F43300;
    }
  }

  &--request {
    background-color: #f26522;
    box-shadow: 0 8px 0 0 #0044cc;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.07em;
    color: #fff;
    width: 250px;
    white-space: normal;
    font-weight: 500;
    padding: 23px 0 25px;

    &:hover, &:focus, &:active {
      color: #fff;
      box-shadow: 0 8px 0 0 #0044cc;
    }
  }

  &--green {
    background-color: #00e676;
    box-shadow: 0 5px 0 0 #2ac1a0;
    border: 0;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    white-space: normal;
    font-weight: 400;
    padding: 9px 18px;

    &:hover, &:focus, &:active {
      color: #fff;
      box-shadow: 0 5px 0 0 #2ac1a0;
    }
  }

  &--blue {
    background-color: #448aff;
    box-shadow: 0 5px 0 0 #0044cc;
    border: 0;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    white-space: normal;
    font-weight: 400;
    padding: 9px 0;

    &:hover, &:focus, &:active {
      color: #fff;
      box-shadow: 0 5px 0 0 #0044cc;
    }
  }

}

