// Для импорта в диспетчер подключений: @import './src/blocks/queen-size/queen-size.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным

.queen-msg {
    margin-top: 90px;
    padding: 20px;
    background-color: #ffffcc;
    text-align: center;

  p {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;

  }
}


.queen-size {
  height: 736px;
  background: #ddd url(../img/queen-size.jpg) center no-repeat;
  overflow: hidden;
  padding-top: 5px;
  position: relative;

  @media (max-width: (@screen-xl - 1)) {
    height: 635px;
    background-size: auto 635px;
    background-position: e("calc(50% + 54px)") 50%;
  }

  &__title {
    display: block;
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;

    @media (max-width: (@screen-xl - 1)) {
      font-size: 38px;
      line-height: 120%;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: -0.3em;
      margin-left: 0.2em;
      width: 58px;
      height: 58px;
      background: url(../img/queen-smile.svg) 0 0 no-repeat;

      @media (max-width: (@screen-xl - 1)) {
        height: 50px;
        width: 50px;
      }
    }
    &--noSmile {
      &:after {
        content: '';
        background: none;
      }
    }
  }

  &__subtitle {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__item {
    border: 4px solid #fff;
    position: absolute;
    top: 30px;
    left: 50%;

    &--30-30 {
      top: 254px;
      width: 100px;
      height: 100px;
      transform: translateX(-506px);

      @media (max-width: (@screen-xl - 1)) {
        top: 215px;
        width: 86px;
        height: 88px;
        transform: translateX(-381px);
      }
    }

    &--60-60 {
      top: 254px;
      width: 200px;
      height: 200px;
      transform: translateX(-344px);

      @media (max-width: (@screen-xl - 1)) {
        top: 216px;
        width: 170px;
        height: 169px;
        transform: translateX(-242px);
      }
    }

    &--80-120 {
      top: 65px;
      width: 261px;
      height: 389px;
      transform: translateX(-84px);

      @media (max-width: (@screen-xl - 1)) {
        top: 48px;
        width: 225px;
        height: 338px;
        transform: translateX(-16px);
      }
    }

    &--50-75 {
      top: 253px;
      width: 244px;
      height: 164px;
      transform: translateX(240px);

      @media (max-width: (@screen-xl - 1)) {
        top: 216px;
        width: 211px;
        height: 141px;
        transform: translateX(264px);
      }
    }
  }

  &__size {
    position: absolute;
    bottom: -43px;
    right: -4px;
    display: block;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #0044cc;
    height: 40px;
    width: 160px;
    background-color: #fff;
    padding-left: 33px;
    padding-right: 10px;
  }

  &__price {
    position: absolute;
    bottom: -83px;
    right: -4px;
    display: block;
    line-height: 40px;
    font-size: 26px;
    letter-spacing: 0.1em;
    color: #fff;
    height: 40px;
    width: 160px;
    background-color: #FA645A;
    padding-left: 33px;
    padding-right: 10px;

    &--blue {
      background-color: #0044cc;
    }
  }

  &__btn {
    position: absolute;
    right: -4px;
    bottom: -129px;
    display: block;
    font-size: 17px;
    line-height: 43px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #00044c;
    text-align: center;
    white-space: nowrap;
    height: 40px;
    width: 160px;
    background-color: #ffd600;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 4px 0 #fdac31;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}
