// Для импорта в диспетчер подключений: @import './src/blocks/first-screen/first-screen.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.first-screen {
  position: relative;
  width: 100%;

  &__top {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      // background: linear-gradient(to top, rgba(63,63,63,0.8) 0%, rgba(255,255,255,0) 100%);
    }
  }

  &__video {
    width: 100%;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    overflow: hidden;

    video {
      display: block;
      width: 100%;
      height: auto;
    }

    @media (max-width: 1365px) {
      height: 570px;

      video {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
      }
    }
  }

  &__logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    @media (max-width: (@screen-xl - 1)) {
      img {
        width: 135px;
        height: auto;
      }
    }
  }

  &__bstr {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 384px;
    height: 52px;
    background-color: rgba(0,4,86,0.8);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    overflow: hidden;
    padding-left: 223px;

    @media (max-width: (@screen-xl - 1)) {
      right: 0;
    }
  }

  &__bstr-text {
    // animation: bstr 10s linear infinite;
    padding-top: 19px;
  }

  &__phone-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 384px;
    height: 52px;
    background-color: #fff;

    @media (max-width: (@screen-xl - 1)) {
      background: none;
      left: 16px;
      top: auto;
      bottom: 10px;
    }
  }

  &__phone {
    display: block;
    color: #546e7a !important;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.12em;
    text-decoration: none !important;
    padding: 2px 0;

    @media (max-width: (@screen-xl - 1)) {
      font-size: 16px;
      color: #fff !important;
      text-align: left;
    }
  }

  &__phone-descr {
    font-size: 14px;
    letter-spacing: 0.12em;
    color: 00044c;
    text-align: center;
    margin: 1px 0 0;

    @media (max-width: (@screen-xl - 1)) {
      font-size: 12px;
      color: #fff;
      text-align: left;
    }
  }

  &__sup-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(e("calc(-50% - 10px)"), e("calc(-50% + 39px)"));
    z-index: 10;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: (@screen-xl - 1)) {
      left: 7px;
      text-align: left;
      transform: translate(0, e("calc(-50% + 39px)"));
    }
  }

  &__main-msg {
    margin: 0 0 19px;
    font-weight: 400;
    font-family: 'Fun City';
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -0.28em;
    color: #fae1dc;
  }

  &__sub-main-msg {
    margin: 0;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.12em;
    color: #c7fff2;
    transform: translateX(10px);
  }

  &__panda-msg {
    position: absolute;
    z-index: 2;
    left: 25px;
    bottom: 9px;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.2em;
    color: #f8f8ff;
    text-transform: uppercase;

    @media (max-width: (@screen-xl - 1)) {
      display: none;
    }
  }

  &__panda-delir-1 {
    color: #de00ff;
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  &__panda-delir-2 {
    color: #9f38ff;
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  &__panda-delir-3 {
    color: #df387f;
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  &__panda-delir-4 {
    color: #bd009c;
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  &__bottom {
    background-color: #F8F8FF;
  }


  &__text-inner {
    display: flex;
    justify-content: space-around;
    padding: 80px 0 139px;
  }

  &__text-item {

    text-align: center;

    img {
      margin-bottom: 38px;
    }

    b {
      display: block;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      color: #ffab91;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 10px;
    }

    p {
      color: #00044c;
      text-transform: lowercase;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.22em;
      margin: 0;
    }

    &--time {
      transform: translateX(-18px);
    }

    &--result {
      transform: translateX(-30px);

      img {
        transform: translateY(-11px);
        margin-bottom: 27px;
      }

      @media (max-width: (@screen-xl - 1)) {
        transform: translateX(26px);
      }
    }
  }

  &__large-msg {
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0.12em;
    color: #0044cc;
    text-align: center;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding-bottom: 97px;
  }

  .quickly {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 384px;

    .btn {
      margin-top: 9px;
    }
  }

  .quickly__descr {
    color: #d1eaff;
    font-size: 14px;
    line-height: 120%;
    margin-top: 24px;
    margin-bottom: 3px;
  }

  .field-text {
    width: 250px;
    margin-bottom: 28px;
  }

  .field-text__input {
    border-color: #fff;
    color: #0044cc;
    font-size: 14px;
    line-height: 1;
    padding: 8px 5px 6px;
    letter-spacing: 0.075em;
    font-weight: 500;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);

    &::placeholder {
      color: #0044cc;
      opacity: 1;
      font-weight: 500;
    }
  }

  .field-text__name {
    font-size: 12px;
    letter-spacing: 0.075em;
    color: #fff;
    margin-bottom: 14px;
  }

}

// @keyframes bstr {
//   from { transform: translateX(100%); }
//   to { transform: translateX(-100%); }
// }
