// Для импорта в диспетчер подключений: @import './src/blocks/style-form/style-form.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.style-form {
  background-color: rgba(198, 217, 220, 0.85);
  position: absolute;
  bottom: -882px;
  left: 0;
  right: 0;
  // top: e("calc(50% + 162px)"); 
  text-align: center;
  // padding-top: 30px;
  // transform: translateY(101%);
  transition: transform 0.3s;

  // @media (max-width: (@screen-xl - 1)) {
  //   right: auto;
  //   top: 0;
  //   bottom: 0;
  //   left: -286px;
  //   width: 286px;
  //   transform: translateX(-101%);

  //   .field-text--md {
  //     width: 260px;
  //     margin-bottom: 0;
  //   }
  // }

  &--shown {
    transform: translateY(0);

    @media (max-width: (@screen-xl - 1)) {
      transform: translateX(0);
    }
  }

  &__fields {
    padding-top: 15px;

    // @media (max-width: (@screen-xl - 1)) {
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   bottom: 43px;
    // }
  }

  &__btn {
    .btn();
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    background-color: #4AE671;
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    min-width: 204px;
    border-color: #FBC5FF;
  }

  &__descr {
    color: #fff;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.135em;
    text-align: center;
    margin: 25px 0 7px;

    @media (max-width: (@screen-xl) - 1) {
      // position: absolute;
      // top: 50%;
      // left: 25%;
      // // width: 40%;
      text-align: left;
      margin: -125px 0 0 25px;
      width: 33%;
      // transform: translate(-280px, -130px);
    }
    
    @media (max-height: 960px) {
      text-align: left;
      margin: -125px 0 0 25px;
      width: 33%;
    }

  }

  .field-text__name {
    color: #212121;

  }

  .field-text__input::placeholder {
    color: #0044cc;
    font-weight: 600;
  }

  .sofa__text {
    display: none;

    // @media (max-width: (@screen-xl - 1)) {
    //   display: block;
    //   top: 44px;
    //   left: 20px;
    //   transform: translate(0, 0);
    //   z-index: 1;
    //   text-align: left;
    // }
  }
}
