// Для импорта в диспетчер подключений: @import './src/blocks/offer-form/offer-form.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.offer-form {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(183,221,235,0.95);
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 15vh;

  &__close {
    width: 20px;
    height: 20px;
    background-color: #6FCFB8;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    overflow: hidden;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: #fff;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

    &__wrap-btn {
      display: flex;
    }
  
  .field-file {
    margin-bottom: 16px;
  }

  .field-text {
    width: 324px;
  }

  .field-text__name {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.075em;
    color: #212121;
  }

  .field-text__input {
    font-size: 12px;
    letter-spacing: 0.075em;
    color: #212121;
    padding-top: 10px;
    padding-bottom: 8px;

    &::placeholder {
      color: #212121;
    }
  }

  .btn {
    width: 162px;
  }
}
